In [22]:
import pandas as pd
import plotly.express as px

In [23]:
df=pd.read_csv('messy_dataset.csv')
df

,age,income,gender,city,purchases,score,category,is_active,signup_year,device,last_login_days,target
0,56.0,8213.402626,unknown,NaN,27,0.7275238239301679,C,1.0,2019.0,Web,9,1
1,46.0,7192.075567,female,NaN,16,0.37965887104480744,A,1.0,2020.0,iOS,300,1
2,32.0,NaN,unknown,NaN,45,0.10221385745931877,NaN,1.0,NaN,Android,22,0
3,25.0,9728.262585,female,Cairo,10,0.49370410490544014,A,0.0,2018.0,NaN,17,1
4,38.0,12667.897822,female,NaN,22,0.5038355374003791,NaN,1.0,2019.0,iOS,132,0
...,...,...,...,...,...,...,...,...,...,...,...,...
11995,46.0,2783.866787,female,Alex,20,0.4163320021760819,C,NaN,2020.0,Android,297,1
11996,59.0,10959.931557,unknown,Unknown,11,0.007738984091421042,NaN,1.0,2021.0,Android,194,0
11997,34.0,11123.168938,female,Cairo,49,0.36417164095776033,C,0.0,NaN,Android,177,0
11998,25.0,13349.915608,male,Giza,10,0.4136261724309047,D,0.0,2021.0,Web,275,1
11999,18.0,7599.643285,male,Alex,38,0.36692543422433976,NaN,1.0,2019.0,Android,182,1

In [24]:
df.columns

Index(['age', 'income', 'gender', 'city', 'purchases', 'score', 'category',
       'is_active', 'signup_year', 'device', 'last_login_days', 'target'],
      dtype='object')

In [25]:
df.describe().round(2)

,age,income,purchases,is_active,signup_year,last_login_days,target
count,11640.00,11400.00,12000.00,7995.00,9953.00,12000.00,12000.0
mean,38.50,9957.47,24.41,0.49,2020.00,200.69,0.5
std,12.01,4487.13,14.42,0.50,1.42,115.57,0.5
min,18.00,-5414.13,0.00,0.00,2018.00,0.00,0.0
25%,28.00,6899.13,12.00,0.00,2019.00,101.00,0.0
50%,39.00,9948.11,24.00,0.00,2020.00,201.00,0.0
75%,49.00,12984.88,37.00,1.00,2021.00,300.00,1.0
max,59.00,28665.53,49.00,1.00,2022.00,399.00,1.0

In [26]:
df.describe(include='object')

         gender   city  score category device
count      9031   9975  12000     9579   8965
unique        3      5  11521        4      3
top     unknown  Tanta     ??        B    Web
freq       3038   2089    480     2468   3042

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              11640 non-null  float64
 1   income           11400 non-null  float64
 2   gender           9031 non-null   object
 3   city             9975 non-null   object
 4   purchases        12000 non-null  int64
 5   score            12000 non-null  object
 6   category         9579 non-null   object
 7   is_active        7995 non-null   float64
 8   signup_year      9953 non-null   float64
 9   device           8965 non-null   object
 10  last_login_days  12000 non-null  int64
 11  target           12000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 1.1+ MB

In [28]:
(df.isna().sum())/len(df)*100

age                 3.000000
income              5.000000
gender             24.741667
city               16.875000
purchases           0.000000
score               0.000000
category           20.175000
is_active          33.375000
signup_year        17.058333
device             25.291667
last_login_days     0.000000
target              0.000000
dtype: float64

In [29]:
df.drop(['city','age','device'],axis=1,inplace=True )

In [30]:
df.drop_duplicates()

,income,gender,purchases,score,category,is_active,signup_year,last_login_days,target
0,8213.402626,unknown,27,0.7275238239301679,C,1.0,2019.0,9,1
1,7192.075567,female,16,0.37965887104480744,A,1.0,2020.0,300,1
2,NaN,unknown,45,0.10221385745931877,NaN,1.0,NaN,22,0
3,9728.262585,female,10,0.49370410490544014,A,0.0,2018.0,17,1
4,12667.897822,female,22,0.5038355374003791,NaN,1.0,2019.0,132,0
...,...,...,...,...,...,...,...,...,...
11995,2783.866787,female,20,0.4163320021760819,C,NaN,2020.0,297,1
11996,10959.931557,unknown,11,0.007738984091421042,NaN,1.0,2021.0,194,0
11997,11123.168938,female,49,0.36417164095776033,C,0.0,NaN,177,0
11998,13349.915608,male,10,0.4136261724309047,D,0.0,2021.0,275,1
11999,7599.643285,male,38,0.36692543422433976,NaN,1.0,2019.0,182,1

In [31]:
df['score'] = df['score'].astype(str)

df['score'] = df['score'].str.replace('??', '', regex=False).str.strip()

df['score'] = pd.to_numeric(df['score'], errors='coerce')

In [32]:
df['gender'].value_counts()

gender
unknown    3038
female     3019
male       2974
Name: count, dtype: int64

In [33]:
df=df.dropna(subset='score')
df=df.dropna(subset='income')

In [34]:
df.reset_index(drop=True, inplace=True)

# preprocessing

## split data

In [35]:
x=df.drop('target',axis=1) # the input
y=df['target']

In [36]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

### handle messing value & scaling the numerical columns

In [37]:
df

,income,gender,purchases,score,category,is_active,signup_year,last_login_days,target
0,8213.402626,unknown,27,0.727524,C,1.0,2019.0,9,1
1,7192.075567,female,16,0.379659,A,1.0,2020.0,300,1
2,9728.262585,female,10,0.493704,A,0.0,2018.0,17,1
3,12667.897822,female,22,0.503836,NaN,1.0,2019.0,132,0
4,15926.937731,male,25,0.550587,D,0.0,2020.0,239,0
...,...,...,...,...,...,...,...,...,...
10942,2783.866787,female,20,0.416332,C,NaN,2020.0,297,1
10943,10959.931557,unknown,11,0.007739,NaN,1.0,2021.0,194,0
10944,11123.168938,female,49,0.364172,C,0.0,NaN,177,0
10945,13349.915608,male,10,0.413626,D,0.0,2021.0,275,1
10946,7599.643285,male,38,0.366925,NaN,1.0,2019.0,182,1

In [38]:
x.isna().mean()*100

income              0.000000
gender             24.700831
purchases           0.000000
score               0.000000
category           20.124235
is_active          33.287659
signup_year        17.182790
last_login_days     0.000000
dtype: float64

In [39]:
from sklearn.impute import SimpleImputer
num_imputer = SimpleImputer(strategy='most_frequent')

x_train[['is_active']] = num_imputer.fit_transform(x_train[['is_active']])
x_test[['is_active']]  = num_imputer.transform(x_test[['is_active']])

In [40]:
cat_cols = ['gender','category']
cat_imputer = SimpleImputer(strategy='most_frequent')

x_train[cat_cols] = cat_imputer.fit_transform(x_train[cat_cols])
x_test[cat_cols]  = cat_imputer.transform(x_test[cat_cols])

In [41]:
cat_imputer = SimpleImputer(strategy='median')

x_train[['signup_year']] = cat_imputer.fit_transform(x_train[['signup_year']])
x_test[['signup_year']]  = cat_imputer.transform(x_test[['signup_year']])

In [42]:
x_train.isna().mean()*100

income             0.0
gender             0.0
purchases          0.0
score              0.0
category           0.0
is_active          0.0
signup_year        0.0
last_login_days    0.0
dtype: float64

#### scaling

In [43]:
from sklearn.preprocessing import RobustScaler
robust_scaler=RobustScaler()

num_col=x_train.select_dtypes(include='number').columns
x_train[num_col]=robust_scaler.fit_transform(x_train[num_col])
x_test[num_col]=robust_scaler.transform(x_test[num_col])

In [44]:
x_train.head()

,income,gender,purchases,score,category,is_active,signup_year,last_login_days
9022,0.226035,male,-0.80,-0.354726,D,1.0,-0.5,0.400
10871,0.359581,male,0.92,-0.466789,A,0.0,-1.0,0.805
5610,0.750287,unknown,0.92,-0.177718,A,0.0,-1.0,-0.685
9364,-0.419539,female,0.32,0.716566,C,1.0,1.0,0.915
10438,0.159104,unknown,0.96,0.555568,B,1.0,1.0,0.260

## encoding

In [45]:
cat_col=x_train.select_dtypes(include='object').columns
cat_col

Index(['gender', 'category'], dtype='object')

In [46]:
for  col in cat_col:
    print(col)
    print(x_train[col].nunique())
    print(x_train[col].unique())
    print('-'*8)

gender
3
['male' 'unknown' 'female']
--------
category
4
['D' 'A' 'C' 'B']
--------

In [47]:
from sklearn.preprocessing import OrdinalEncoder


category_order = ['A','B','C','D']

ord_enc = OrdinalEncoder(categories=[category_order])

x_train[['category']] = ord_enc.fit_transform(x_train[['category']])
x_test[['category']] = ord_enc.transform(x_test[['category']])

##### encode nominal

In [48]:
ohe_col_name=x_train.select_dtypes(object).columns
ohe_col_name

Index(['gender'], dtype='object')

In [49]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first',sparse_output=False)

ohe_arr_train=ohe.fit_transform(x_train[ohe_col_name])
ohe_arr_test=ohe.transform(x_test[ohe_col_name])

In [50]:
ohe_train=pd.DataFrame(ohe_arr_train,columns=ohe.get_feature_names_out()).reset_index()
ohe_test=pd.DataFrame(ohe_arr_test,columns=ohe.get_feature_names_out()).reset_index()

In [51]:
x_train=x_train.reset_index()
x_test=x_test.reset_index()
y_test=y_test.reset_index()
y_test=y_test.reset_index()

In [52]:
x_train=pd.concat([x_train,ohe_train],axis=1).drop(ohe_col_name,axis=1)
x_test=pd.concat([x_test,ohe_test],axis=1).drop(ohe_col_name,axis=1)

In [53]:
x_train.head()

,index,income,purchases,score,category,is_active,signup_year,last_login_days,index,gender_male,gender_unknown
0,9022,0.226035,-0.80,-0.354726,3.0,1.0,-0.5,0.400,0,1.0,0.0
1,10871,0.359581,0.92,-0.466789,0.0,0.0,-1.0,0.805,1,1.0,0.0
2,5610,0.750287,0.92,-0.177718,0.0,0.0,-1.0,-0.685,2,0.0,1.0
3,9364,-0.419539,0.32,0.716566,2.0,1.0,1.0,0.915,3,0.0,0.0
4,10438,0.159104,0.96,0.555568,1.0,1.0,1.0,0.260,4,0.0,1.0